<p id="notice"><%= notice %></p>

<h2>
  <%= @beer_club.name %>
</h2>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>


<p>
	<strong>Members: </strong>
	<ul>
		<% @members.each do |m| %>
			<li><%= link_to m.user.username, m %></li>
		<% end %>
	</ul>
</p>

<% if @beer_club.already_member?(current_user) %>
	<p>
		<strong>Pending applications: </strong>
		<ul>
			<% @pending.each do |m| %>
				<li>
					<%= link_to m.user.username, m %>
					<%= link_to "confirm", confirm_membership_path(m), :method => :post, :class => "btn" %>
				</li>
			<% end %>
		</ul>
	</p>
<% end %>

<p>
	<h4>Join to club:</h4>

	<%= form_for(@membership) do |f| %>
	  <%= f.hidden_field :beer_club_id %>
	  <%= f.submit :class => 'btn btn-primary' %>
	<% end %>
</p>


<%= show_page_buttons edit_beer_club_path(@beer_club), @beer_club, beer_clubs_path %>
