<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>
</p>

<p>
	has given <%= pluralize(@user.ratings.length, 'rating') %>, average <%= @user.average_rating %>
</p>

<ul>
	<% @user.ratings.each do |rating| %>
		<li> <%= rating %> 
			<% if currently_signed_in? @user %>
				<%= link_to 'delete', rating, :method => :delete, data: { confirm: 'Are you sure?' }  %>
			<% end %>
		 </li>
	<% end %>
</ul>


<% if not @user.beer_clubs.empty? %>
	<p>
		Belongs to:	
		<% @user.beer_clubs.each do |club| %>
			<%= link_to club, club %> 
		<% end %>
	</p>
<% end %>

<% if currently_signed_in? @user %>
	<%= link_to 'Edit', edit_user_path(@user) %>
	<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', users_path %>

