<p id="notice"><%= notice %></p>

<h2>
  <%= @style.name %>
</h2>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>
  <strong>Beers:</strong>
  <ul>
	  <% @style.beers.each do |b| %>
		<li> <%= link_to b, beer_path(b) %> </li>
	  <% end %>
  </ul>
</p>


<%= show_page_buttons edit_style_path(@style), false, styles_path %>
