<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>
  <strong>Beers:</strong>
  <ul>
	  <% @style.beers.each do |b| %>
		<li> <%= link_to b, beer_path(b) %> </li>
	  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
