<p id="notice"><%= notice %></p>

<h2>
	<%= @brewery.name %>
</h2>


<p>
	<em>
		Established year 
		<%= @brewery.year %>
	</em>
</p>

<p>
	<strong>Number of beers:</strong>
	<%= @brewery.beers.count %>
</p>

<p>
	<strong>Beers: </strong>
	<ul>
		<% @brewery.beers.each do |beer| %>
			<li><%= link_to beer.name, beer %></li>
		<% end %>
	</ul>
</p>

	
<% if not @brewery.ratings.empty? %>
	<p>
		<%= pluralize(@brewery.beers.length, 'beer of the brewery have', 'beer of the brewery has') %>  <%= pluralize(@brewery.ratings.length, 'rating') %>, average <%= @brewery.average_rating %>
	</p>
<% end %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
