<p id="notice"><%= notice %></p>

<h2>
  <%= @beer.name %>
</h2>

<p>
  <strong>Style:</strong>
  <%= link_to @beer.style, style_path(@beer.style) %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to @beer.brewery, brewery_path(@beer.brewery) %>
</p>

<p>
	<% if @beer.ratings.empty? %>
		beer has not yet been rated!
	<% else %>
		beer has <%= pluralize(@beer.ratings.length, 'rating') %>, average <%= round @beer.average_rating %>
	<% end %>
</p>


<h4>give a rating:</h4>
	<%= form_for(@rating) do |f| %>
		<%= f.hidden_field :beer_id %>
		score: <%= f.number_field :score %>
	<%= f.submit class: 'btn btn-primary' %>
<% end %>


<%= show_page_buttons edit_beer_path(@beer), @beer, beers_path %>
