<h1>Beer Places Search</h1>

<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
	<div class="input-append">
		<%= text_field_tag :city, params[:city], class: "span2", placeholder: "search city" %>
		<%= submit_tag "Search", class: 'btn btn-primary' %>
	</div>
<% end %>

<% if @places %>
	<table class="table table-hover">
		<thead>
			<tr>
				<% Place.rendered_fields.each do |k| %>
					<th> <%=k %> </th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @places.each do |place| %>
				<tr>
					<% Place.rendered_fields.each do |k| %>
						<% if k.to_s == "name" and not place.id.nil? %>
							<td> <%= link_to place.name, controller: "places", action: "show", id: place.id %></td>
						<% else %>
							<td> <%=place.send(k) %> </td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

