<!DOCTYPE html>
<html>
<head>
	<title>Ratebeer</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<%= render "layouts/main_navi" %>
	
	<div class="container">
	  <div class="row">
		<div class="span9">
		  <%= yield %>
		</div>
		<div class="span3">
		  <%= image_tag("olut.jpg", width: 100) %>
		</div>
	  </div>
	</div>

</body>
</html>
